@model IEnumerable<HastaneGD.Models.AnaBilimDali>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model=> model.abdId)
                @Html.DisplayNameFor(model => model.abdName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem=> item.abdId)
                    @Html.DisplayFor(modelItem => item.abdName)

                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.abdId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.abdId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.abdId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
