@model IEnumerable<HastaneGD.Models.Doktor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.doktorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.abdID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.polId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.doktorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.abdID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.polId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.doktorId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.doktorId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.doktorId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
