@model HastaneGD1.Models.Randevu

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Randevu</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HastaAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HastaAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HastaSoyadi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HastaSoyadi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RandevuTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RandevuTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoktorAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoktorAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PoliklinikAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PoliklinikAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Durum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Durum)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
